body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time {
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    top: -15px;
    left: 20px;
}

input {
    border: none;
    text-align: center;
}
textarea:focus, input:focus{
    outline: none;
}

.content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

body > div {
    width: 800px;
    height: 300px;
    box-shadow: 0 5px 20px burlywood;
    border-radius: 40px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  20px 100px;
}

.content {
    height: 200px;
}

#output {
    font-size: 50px;
}

#start {
    border: none;
    height: 30px;
    width: 70px;
    color: white;
    font-size: 18px;
    background-color: burlywood;
    border-radius: 30px;
}

#response {
    width: 700px;
    height: 250px;
    font-size: 150px;
}